<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azfuncmanagedidentity20240408212645.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/784349f9-d148-4447-bf44-1626119ae34d/resourcegroups/az204-arm-rg/providers/Microsoft.Web/sites/AzFuncManagedIdentity20240408212645</ResourceId>
    <UserName>$AzFuncManagedIdentity20240408212645</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azfuncmanagedidentity20240408212645.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>